<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <span class="navbar-text">Scrapping Books Details</span>
    </div>
    {% if variable %}
    <div class="alert-message">
        <h3>{{variable}}</h3>
    </div>
    {% endif %}
    <form action="/" method="post">
        <div class="book-button">
            <button type="submit" name="text" value="tipping-the-velvet_999">Tipping the Velvet</button>
            <button type="submit" name="text" value="a-light-in-the-attic_1000">A Light in the Attic</button>
            <button type="submit" name="text" value="soumission_998">Soumission</button>
            <button type="submit" name="text" value="sharp-objects_997">Sharp Objects</button>
            <button type="submit" name="text" value="sapiens-a-brief-history-of-humankind_996">Sapiens: A Brief History
                of Humankind</button>
            <button type="submit" name="text" value="the-requiem-red_995">The Requiem Red</button>
            <button type="submit" name="text" value="the-black-maria_991">The Black Maria</button>
        </div>
        <div class="mongoclient">
            <button type="submit" name="text" value="mongoDB">Insert into MongoDB</button>
        </div>
    </form>
    <div class="table">
        <table class="table-detail">
            <tbody>
                <tr>
                    <th class="th" scope="row">NAME</th>
                    {% if bookname %}
                    <td class="td">{{bookname.0}}</td>
                    {% else %}
                    <td class="td"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="th" scope="row">PRICE</th>
                    {% if bookname %}
                    <td class="td">{{bookname.1}}</td>
                    {% else %}
                    <td class="td"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="th" scope="row">DESCRIPTION</th>
                    {% if bookname %}
                    <td class="td">{{bookname.2}}</td>
                    {% else %}
                    <td class="td"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="th" scope="row">UPC</th>
                    {% if bookname %}
                    <td class="td">{{bookname.3}}</td>
                    {% else %}
                    <td class="td"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="th" scope="row">STARS</th>
                    {% if bookname %}
                    <td class="td">{{bookname.4}}</td>
                    {% else %}
                    <td class="td"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="th" scope="row">REVIEWS</th>
                    {% if bookname %}
                    <td class="td">{{bookname.5}}</td>
                    {% else %}
                    <td class="td"></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>